body {
    margin: 0;
    padding: 0;
    background-color: #202430;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.container {
    padding: 20px;
}

.wrapper_actions {
    display: flex;
}

.wrapper_actions > div:not(:last-child) {
    margin-right: 20px;
}

.wrapper_actions > div {
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s;
}

.firstAction, .secondAction, .thirdAction {
    background-color: #757575;
    color: #141519;
    box-shadow: 0 0 15px 3px #757575;
}

.firstAction:hover, .secondAction:hover, .thirdAction:hover {
    background-color: #28c728;
    box-shadow: 0 0 15px 3px #28c728;
    transition: .3s;
}

.firstShadow {
    background-color: #28c728;
    box-shadow: 0 0 15px 3px #55ff55;
    color: #202430;
}

.enterValues {
    margin-top: 20px;
    font-size: 24px;
}

.firstActionValue, .secondActionValue, .thirdActionValue {
    font-size: 30px;
    display: inline-block;
    width: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
    width: 50px;
}

.wrapperFirstActionValue1, .wrapperSecondActionValue1, .wrapperThirdActionValue1,
.wrapperFirstActionValue2, .wrapperSecondActionValue2, .wrapperThirdActionValue2,
.wrapperFirstActionValue3, .wrapperSecondActionValue3, .wrapperThirdActionValue3 {
    margin-left: 5px;
}

th {
    font-size: 30px;
}

.inputsForFirstAction, .inputsForSecondAction, .inputsForThirdAction {
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
    padding: 3px;
}

.wpfirstAction {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}

.titleDimensions {
    font-size: 24px;
    margin-right: 10px;
}

.enterDimensions {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.wrapperDimensions {
    display: flex;
}

.wrapperDimensions > .x {
    margin-left: 10px;
    margin-right: 10px;
}

.wrapperDimensions > input {
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

.buttonConfirm {
    padding: 10px 40px;
    font-size: 19px;
    border: none;
    background-color: #4340ff;
    margin-left: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

.buttonConfirm:hover {
    background-color: #3432d3;
}

.buttonOutput1, .buttonOutput2, .buttonOutput3 {
    padding: 10px 40px;
    font-size: 19px;
    border: none;
    background-color: #4340ff;
    margin-left: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    outline: none;
    margin-top: 15px;
}

.buttonOutput1:hover, .buttonOutput2:hover, .buttonOutput3:hover {
    background-color: #3432d3;
}

.afterClickButton1, .output1, .afterClickButton2, .output2, .afterClickButton3, .output3 {
    display: none;
}

.firstSubstitution {
    display: block;
}

.secondSubstitution {
    display: block;
}

.thirdSubstitution {
    display: block;
}

.errorDimensions {
    margin-left: 40px;
    font-size: 18px;
    background-color: #ff000036;
    padding: 10px 20px;
    border: 3px solid #ff1b1b;
    color: #ff1b1b;
    display: none;
}

.output1, .output2, .output3 {
    margin-top: 30px;
}

table {
    border-spacing: 0px;
}

.outputTable {
    border-spacing: 2px;
    margin-right: 3px;
}

.outputTable td {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 11px;
}